{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique{% endblock %}

{% block body %}
    <!-- carte du restaurant -->

    <div class="container">
        <div class="menuPageTitle"><h1>La Carte</h1></div>
        <br/>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <!-- Entrées -->

            <div class="col">
                <div class="menuPageSub">
                    <h3>Nos Entrées</h3>
                </div>
                <div>
                    <table class="starters food">
                        <tr>
                            <td class="dish">Œuf cocotte au fromage et lardons</td>
                            <td class="dishPrice">8€</td>
                        </tr>
                        <tr>
                            <td class="dish">Soupe à l'oignon gratinée</td>
                            <td class="dishPrice">8€</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                Toastine du Chef jambon cru et raclette gratinée
                            </td>
                            <td class="dishPrice">8€</td>
                        </tr>
                        <tr>
                            <td class="dish">Salade Seguin toast de chèvre et lardons</td>
                            <td class="dishPrice">9€</td>
                        </tr>
                        <tr>
                            <td class="dish">Salade Auvergnate Bleu d'Auvergne et noix</td>
                            <td class="dishPrice">9€</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Plats -->

            <div class="col">
                <div class="menuPageSub"><h3>Nos Plats</h3></div>
                <div>
                    <table class="mainCourse food">
                        <tr>
                            <td class="dish">
                                Tartiflette au Reblochon de Savoie, pommes de terre, oignons
                                et lardons
                            </td>
                            <td class="dishPrice">18€</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                Tartiflette aux cèpes et Reblochon de Savoie
                            </td>
                            <td class="dishPrice">19€50</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                Croziflette aux crozets, jambon cru et Reblochon
                            </td>
                            <td class="dishPrice">18€</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                Fondue Savoyarde Beaufort, Abondance et meule de Savoie
                            </td>
                            <td class="dishPrice">20€</td>
                        </tr>
                        <tr>
                            <td class="dish">Fondue Savoyarde au bleu</td>
                            <td class="dishPrice">21€</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Desserts -->

            <div class="col">
                <div class="menuPageSub"><h3>Nos Desserts</h3></div>
                <div>
                    <table class="desserts food">
                        <tr>
                            <td class="dish">Fondant au chocolat</td>
                            <td class="dishPrice">7€</td>
                        </tr>
                        <tr>
                            <td class="dish">Crème brûlée à la vanille</td>
                            <td class="dishPrice">7€</td>
                        </tr>
                        <tr>
                            <td class="dish">Profiteroles au chocolat</td>
                            <td class="dishPrice">7€50</td>
                        </tr>
                        <tr>
                            <td class="dish">Café gourmand</td>
                            <td class="dishPrice">9€</td>
                        </tr>
                        <tr>
                            <td class="dish">Fondue au chocolat surprise</td>
                            <td class="dishPrice">9€50</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Boissons -->

            <div class="col">
                <div class="menuPageSub"><h3>Les Boissons</h3></div>
                <div>
                    <table class="beverages food">
                        <tr>
                            <td class="dish">Kir Royal</td>
                            <td class="dishPrice">6€</td>
                        </tr>
                        <tr>
                            <td class="dish">Bière pression</td>
                            <td class="dishPrice">4€50</td>
                        </tr>
                        <tr>
                            <td class="dish">Cidre</td>
                            <td class="dishPrice">4€50</td>
                        </tr>
                        <tr>
                            <td class="dish">Jus de fruits</td>
                            <td class="dishPrice">3€</td>
                        </tr>
                        <tr>
                            <td class="dish">Soft en 33cl (Coca Cola, Sprite, Fanta)</td>
                            <td class="dishPrice">3€50</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!-- Reservation button -->

    <div class="container-fluid">
        <div class="d-grid gap-2 col-4 mx-auto">
            <button class="btn btn-outline-dark reservation" type="button">
                Réserver
            </button>
        </div>
    </div>
    <br/>

{% endblock %}