{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique{% endblock %}

{% block body %}
    <!-- menus du restaurant -->

    <div class="container">
        <div class="formulaPageTitle"><h1>Nos Menus</h1></div>
    </div>
    <br/>
    <div class="container">
        <div class="row justify-content-center">
                {% for formulaitem in formula %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title formulaTitle">{{ formulaitem.title }}</h5>
                            <p class="card-text formulaSet">{{ formulaitem.formulaType }}</p>
                        </div>
                        <div class="card-footer formulaPrice">{{ formulaitem.price }}€</div>
                    </div>
                    <br>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}