{% extends 'base.html.twig' %}

{% block title %}Réservation enregistrée{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1>Votre réservation a bien été enregistrée</h1>
        <h2>À très vite !</h2>
        <p><a href="{{ path('home') }}">Retour à la page d'accueil</a></p>
    </div>
{% endblock %}
