
 <!-- Footer with opening hours -->

    <div class="container-fluid bg-dark text-light">
        <footer>

            <div class="opening-hours mx-auto">
                <h3 class="ohTitle text-center">Nos horaires d'ouverture</h3>
                {% for hour in hours %}
                    <table class="ohTableStructure">
                        <tr class="ohTable">
                            <td><span>{{ hour.day }}</span></td>
                            <td>{{ hour.time }}</td>
                            <td>{{ hour.afternoon }}</td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        </footer>
    </div>
