<!-- Footer with opening hours -->

<div class="container-fluid bg-dark text-light">
    <footer>
        <div class="opening-hours mx-auto">
            <h3 class="ohTitle text-center">Nos horaires d'ouverture</h3>
            <table class="ohTableStructure">
                {% for hour in hours %}
                    <tr class="ohTable">
                        <td class="w-25"><span>{{ hour.day }}</span></td>
                        <td class="w-25">{{ hour.time }}</td>
                        <td class="w-25">{{ hour.afternoon }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
        </div>
    </footer>
</div>
